/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.homepage {
  // ===== fv ====
  .fv {
    &_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &_content {
      &_title {
        position: relative;
        width: 100%;
        height: 100vh;
        mix-blend-mode: multiply;

        & > div {
          width: 80.972%;
          position: absolute;
          top: 48%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        picture {
          padding-bottom: calc(531.34 / 583 * 100%);
        }
      }

      &_desc {
        margin: 130px auto 0;
        padding: 0 var(--p-sp);

        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.12;
        text-align: center;
      }
    }

    &_fixed {
      position: sticky;
      top: 0;
      height: var(--app-height);
    }

    &_images {
      position: relative;
      width: 100%;
      z-index: 2;
      mix-blend-mode: multiply;

      &_gif {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 64px 0 10px;

        picture {
          padding-bottom: min(88.916vh, calc(722 / 646 * 100%));
        }
      }

      &_tree {
        position: absolute;
        bottom: -1.389vw;
        left: 0;
        width: 19.236vw;
        z-index: 2;

        picture {
          padding-bottom: calc(213 / 277 * 100%);
        }
      }
    }

    @include maxW {
      &_container {
        display: flex;
        flex-direction: column-reverse;
      }

      &_content {
        &_desc {
          margin-top: 95px;
          font-size: 1.3rem;
          line-height: 2.62;
        }
      }

      &_fixed {
        position: initial;
      }

      &_inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px 25px;
      }

      &_images {
        mix-blend-mode: normal;

        &_title {
          picture {
            padding-bottom: calc(162.75 / 374 * 100%);
          }
        }

        &_gif {
          margin-top: 10px;
          position: initial;
          padding: 0 6px 0 4px;
          flex: 1;
          display: flex;

          picture {
            flex: 1;
            padding-bottom: initial;
          }
        }

        &_brand {
          width: 46.377vw;
          margin: 0 5px 0 auto;

          picture {
            padding-bottom: calc(20.56 / 192 * 100%);
          }
        }

        &_tree {
          position: fixed;
          bottom: -3.382vw;
          left: 13px;
          width: 39.614vw;

          picture {
            padding-bottom: calc(125 / 164 * 100%);
            mix-blend-mode: normal;
          }
        }
      }
    }
  }

  // ===== diary =====
  .diary {
    &_container {
      padding-top: 188px;
    }

    &_illust {
      padding: 200px 10.167vw 0 7.535vw;

      &_images {
        margin: 0 auto;

        picture {
          padding-bottom: calc(738 / 1185.11 * 100%);
        }
      }
    }

    &_profile {
      margin-top: 120px;

      &_inner {
        width: 100%;
        min-height: 410px;
        display: grid;
        grid-template-columns: 18.056vw 1fr;
        align-items: center;
        gap: 77px;
        padding: 75px 80px;

        background: #f0ebde;
        border-radius: 60px;
      }

      &_ava {
        border-radius: 100%;
        background: var(--white-cl);
      }

      &_content {
        .heading {
          p {
            font-size: 1.4rem;
            line-height: 1.3;
            letter-spacing: 0.5px;
            margin-left: 3px;
          }

          h3 {
            margin-top: 7px;
            font-size: 2rem;
            line-height: 1.45;
          }
        }

        .desc {
          margin: 22px 0 0 3px;
          font-size: 1.3rem;
          line-height: 1.75;

          p > a {
            display: inline-block;
            text-decoration: underline;
          }
        }
      }
    }

    @include maxW {
      &_container {
        padding-top: 140px;
      }

      &_illust {
        padding: 80px 0 0 0;

        &_images {
          picture {
            padding-bottom: calc(573 / 414 * 100%);
          }
        }

        &_content {
          margin-top: 45px;
          font-size: 1.3rem;
          line-height: 1.7;
        }
      }

      &_profile {
        margin-top: 57px;

        &_inner {
          grid-template-columns: 1fr;
          gap: 30px;
          padding: 45px 25px 43px 24px;
          border-radius: 30px;
        }

        &_ava {
          width: 41.063vw;
          margin: 0 auto;
        }

        &_content {
          .heading {
            p {
              font-size: 1.2rem;
              margin-left: 2px;
            }

            h3 {
              margin-top: 5px;
              font-size: 1.6rem;
            }
          }

          .desc {
            margin: 28px 0 0 2px;
            font-size: 1.2rem;
            line-height: 1.68;
          }
        }
      }
    }
  }

  // ===== story =====
  .story {
    &_container {
      display: grid;
      grid-template-columns: 21.389vw 1fr;
      gap: min(6.389vw, 92px);
    }

    &_timeline {
      padding: 0 0 0 28px;

      &_list {
        position: sticky;
        top: 100px;

        h2 {
          font-size: 5.4rem;
        }

        ul {
          margin-top: 80px;
          display: flex;
          flex-direction: column;
          gap: 30px;

          li {
            position: relative;
            height: 2px;

            &.--current {
              span {
                opacity: 1;
                visibility: visible;
              }

              &:before {
                opacity: 1;
              }
            }

            span {
              display: block;
              position: absolute;
              top: 50%;
              left: 60px;
              transform: translateY(-50%);

              font-family: var(--en-fonts);
              font-size: 2rem;
              line-height: 1.5;
              letter-spacing: 0.5px;

              opacity: 0;
              visibility: hidden;
              transition: all 0.2s ease-in-out;
              transition-property: opacity, visibility;
            }

            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;

              display: block;
              width: 30px;
              height: 100%;
              background: var(--black-cl);
              border-radius: 60px;

              opacity: 0.3;
              transition: opacity 0.2s ease-in-out;
              will-change: opacity;
            }
          }
        }
      }
    }

    &_article {
      margin: 145px 0 0 0;
      padding: 0 min(9.135%, 95px) 0 0;

      section {
        height: 100vh;
      }
    }
  }
}
